@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-stone-100 dark:bg-stone-900;
    }

    thead {
        @apply bg-stone-200 dark:bg-stone-800;
    }

    p, li, a, summary, button, tr, th, td {
        @apply text-stone-900 dark:text-stone-100 underline-offset-2;
    }

    blockquote {
        @apply text-stone-700 dark:text-stone-300;
    }
    
    button:focus {
        @apply outline-none;
    }

    button:focus-visible {
        @apply outline-none;
    }

    select {
        @apply bg-stone-100 text-stone-900 hover:cursor-pointer dark:bg-stone-900 dark:text-stone-100;
    }

    select:focus {
        @apply outline-none;
    }

    select:focus-visible {
        @apply outline-none;
    }

    select option {
        @apply bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-100;
    }

    a {
        @apply underline;
     }

    ul {
        @apply list-disc list-inside;
    }

    summary {
        @apply hover:cursor-pointer;
    }
}

@layer components {
  .footnote {
    @apply text-stone-500 dark:text-stone-400 hover:underline;
  }
}
