@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100 dark:bg-gray-900;
    }

    p, li, a, summary, button {
        @apply text-gray-900 dark:text-gray-100;
    }

    blockquote {
        @apply text-gray-700 dark:text-gray-300;
    }
    
    button:focus {
        @apply outline-none;
    }

    button:focus-visible {
        @apply outline-none;
    }

    select {
        @apply bg-gray-100 text-gray-900 hover:cursor-pointer;
        @apply dark:bg-gray-900 dark:text-gray-100;
    }

    select:focus {
        @apply outline-none;
    }

    select:focus-visible {
        @apply outline-none;
    }

    select option {
        @apply bg-gray-100 text-gray-900;
        @apply dark:bg-gray-900 dark:text-gray-100;
    }

    a {
        @apply underline;
     }

    ul {
        @apply list-disc list-inside;
    }

    summary {
        @apply hover:cursor-pointer;
    }
}